.form {
  @apply flex flex-col gap-4;

  input, textarea, select {
    @apply bg-transparent resize-none shadow-md;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    padding: .5rem 1rem;
    border-radius: 5px;
    border: 2px solid #fff;
    color: rgba(34, 34, 96, 0.9);

    &::placeholder {
      color: rgba(34, 34, 96, 0.3);
    }
  }

  .input-control {
    input {
      width: 100%;
    }
  }

  .selects {
    @apply flex justify-end;

    select {
      color: rgba(34, 34, 96, 0.3);

      &:focus, &:active {
        color: rgba(34, 34, 96, 1);
      }
    }
  }

  .submit-btn {
    button {
      @apply shadow-md;

      &:hover {
        background: var(--color-green) !important;
      }
    }
  }

}
